@import "tailwindcss";

body {
  background: #B5451B;
  color: #000;
}

@keyframes vertical-scroll {
  from { transform: translateY(0); }
  to { transform: translateY(var(--scroll-height, -50%)); }
}
